@font-face {
  font-family: "CustomMath";
  src: url(resource/LMMath-Regular-v2.woff2)
    format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "CustomRomanItalic";
  src: url(resource/LMRoman10-Italic-v2.woff2)
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "clig" 0;
}
@font-face {
  font-family: "CustomRomanRegular";
  src: url(resource/LMRoman10-Regular.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "clig" 0;
}

/* \mathit\mathrm\mathbf\mathsf\mathtt には当てない */
.dcg-mq-math-mode *:not(.dcg-mq-font) > var:not(.dcg-mq-operator-name) {
  font-family: "CustomRomanItalic", "CustomMath";
  font-style: italic;
}
.dcg-mq-math-mode *:not(.dcg-mq-font) > var:not(.dcg-mq-operator-name, .dcg-mq-f) {
  /* イタリック体は右にズレて見えてしまうのでf以外修正 */
  display: inline-block !important;
  padding-right: 0.05em !important; /* margin-rightはfの右余白と競合する */
  margin-left: -0.05em !important; /* paddingはネガティブマージン不可能 */
}
.dcg-graph-outer var {
  /* ラベルの文字が上下にズレてしまうのを防ぐための調整 */
  vertical-align: 0.1em !important;
}
/* 下付き文字内のvarは２文字以上では通常フォント,1文字ではイタリック体 */
/* intとlogのsubscriptは除外 */
.dcg-mq-math-mode
  :not(.dcg-mq-int)
  > .dcg-mq-supsub:not(.dcg-mq-after-operator-name)
  > .dcg-mq-sub:has(var:nth-of-type(n + 2)):not(:has(.dcg-mq-font))
  var,
.dcg-mq-math-mode
  :not(.dcg-mq-int)
  > .dcg-mq-supsub:not(.dcg-mq-after-operator-name)
  > .dcg-mq-sub:has(> var):has(> span > var):not(:has(.dcg-mq-font))
  var {
  font-family: "CustomRomanRegular", "CustomMath", "CustomRomanItalic" !important;
  font-style: normal !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.dcg-mq-math-mode .dcg-mq-operator-name {
  font-family: "CustomRomanRegular" !important;
  font-style: normal !important;
}
.dcg-mq-math-mode .dcg-mq-binary-operator {
  font-family: "CustomMath" !important;
}

/* 数字・infinity */
.dcg-mq-math-mode .dcg-mq-root-block {
  font-family: "CustomMath" !important;
  font-style: normal !important;
}
/* π */
.dcg-mq-math-mode .dcg-mq-nonSymbola:not(.dcg-mq-operator-name) {
  font-family: "CustomMath" !important;
  font-style: italic !important;
}
/* percent */
.dcg-mq-math-mode .dcg-mq-nonSymbola.dcg-mq-operator-name {
  font-family: "CustomRomanRegular" !important;
  font-style: normal !important;
}

/* integral */
.dcg-exppanel-container .dcg-mq-int {
  position: relative;
  display: inline-block;
}
.dcg-exppanel-container .dcg-mq-int::before {
  content: "⌠\A⌡";
  font-family: "CustomMath";
  font-size: 0.8em;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-32%);
  line-height: 1.3;
  white-space: pre;
  display: inline-block;
  text-align: center;
}
.dcg-exppanel-container .dcg-mq-int .dcg-mq-non-leaf {
  position: relative;
}
.dcg-exppanel-container .dcg-mq-int > big {
  color: transparent;
}

/* ΣΠの下に余白 */
.dcg-mq-math-mode big {
  margin-bottom: 0.2rem !important;
}

/* ()内の上側の余白をなくす */
.dcg-mq-math-mode .dcg-mq-bracket-middle {
  margin-top: 0 !important;
}

/* 数式スクロール */
.dcg-mq-editable-field
  .dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block {
  overflow-x: auto;
}
.dcg-mq-editable-field
  .dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block.dcg-mq-root-block {
  scrollbar-width: none;
}
