@font-face {
  font-family: "CustomMath";
  src: url(resource/LMMath-Regular-v3.woff2)
    format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "CustomRomanItalic";
  src: url(resource/LMRoman10-Italic-v2.woff2)
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "clig" 0;
}
@font-face {
  font-family: "CustomRomanRegular";
  src: url(resource/LMRoman10-Regular.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "clig" 0;
}

@font-face {
  font-family: "Colon400";
  src: url(resource/Colon400.woff2) format("woff2");
  unicode-range: U+003A;
  font-weight: normal;
}
@font-face {
  font-family: "Colon500";
  src: url(resource/Colon500.woff2) format("woff2");
  unicode-range: U+003A;
  font-weight: normal;
}
@font-face {
  font-family: "Colon600";
  src: url(resource/Colon600.woff2) format("woff2");
  unicode-range: U+003A;
  font-weight: normal;
}

/* \mathit\mathrm\mathbf\mathsf\mathtt には当てない */
.dcg-mq-math-mode *:not(.dcg-mq-font) > var:not(.dcg-mq-operator-name) {
  font-family: "CustomRomanItalic", "CustomMath";
  line-height: 0.7 !important; /* ()内での変数の縦の大きさを調整 */
  font-style: italic;
}
.dcg-mq-math-mode *:not(.dcg-mq-font) > var:not(.dcg-mq-operator-name, .dcg-mq-f) {
  /* イタリック体は右にズレて見えてしまうのでf以外修正 */
  display: inline-block !important;
  padding-right: 0.05em !important; /* margin-rightはfの右余白と競合する */
  margin-left: -0.05em !important; /* paddingはネガティブマージン不可能 */
}
.dcg-graph-outer var {
  /* ラベルの文字が上下にズレてしまうのを防ぐための調整 */
  vertical-align: 0.1em !important;
}
.dcg-mq-math-mode .dcg-mq-operator-name {
  font-family: "CustomRomanRegular" !important;
  font-style: normal !important;
}
.dcg-mq-math-mode .dcg-mq-binary-operator {
  font-family: "CustomMath" !important;
}

/* 数字・infinity */
.dcg-mq-math-mode .dcg-mq-root-block {
  font-family: "CustomMath" !important;
  font-style: normal !important;
}
/* π */
.dcg-mq-math-mode .dcg-mq-nonSymbola:not(.dcg-mq-operator-name) {
  font-family: "CustomMath" !important;
  font-style: italic !important;
}
/* percent */
.dcg-mq-math-mode .dcg-mq-nonSymbola.dcg-mq-operator-name {
  font-family: "CustomRomanRegular" !important;
  font-style: normal !important;
}
.dcg-keypad-btn-content .dcg-mq-math-mode .dcg-mq-sup .dcg-mq-nonSymbola {
  font-family: "CustomRomanRegular" !important;
  font-style: normal !important;
}
/* キーボードのapprox */
.dcg-keypad-btn[dcg-command="~"] .dcg-mq-binary-operator,
.dcg-keypad-btn[dcg-command=":"] .dcg-mq-binary-operator {
  padding: 0 !important;
  font-size: 0.9rem;
}

/* ΣΠの下に余白 */
span:not(.dcg-mq-int) > big {
  margin-bottom: 0.12em !important;
}
